<div class="sale">
    <img src="image/banner2.png" alt="" width="100%">
    <h1 style="text-decoration: none; color: black; padding: 40px; font-size: 40px;">BÁN CHẠY NHẤT</h1>
</div>
<div class="container text-center" style="padding: 0px;">
    <div class="row align-items-start">
        <div class="col-3 col-md-3" ng-repeat="ass in lst" ng-if="$index < 8">
            <div class="anh" style="position: relative;">
                <div class="hot"><img src="image/bookmark4.png" alt="">
                    <p class="label" ng-if="!ass.giamgia">{{ass.trangthai}} </p>
                    <p class="label" ng-if="ass.giamgia">SALE</p>
                </div>
                <img src="image/sp8.png" class="img-thumbnail" alt="...">
            </div>
            <p>{{ass.theloai}}</p>
            <a class="text" href="#/chitiet/{{ass.id}}">{{ass.ten}} {{ass.mausac}}-{{ass.size}}</a><br>
            <img src="image/stars4.png" alt="" width="100px"><br>
            <div style="display: inline-flex;">
                <h5 ng-if="!ass.giamgia">{{ass.giaban | currency: 'đ':0 }}</h5>
                <h5 ng-if="ass.giamgia"><del>{{ass.giaban | currency: 'đ':0 }}</del><h5 style="color: red;">{{ass.giamgia | currency: 'đ':0 }}</h5>
                </h5>
            </div>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <video src="image/intro.mp4" class="object-fit-md-fill" autoplay muted loop height="450" width="1180"
                style="padding-top: 50px;"></video>
        </div>
        <a href=""
            style="text-decoration: none; color: black; font-size: 40px; font-weight: bold; padding: 50px;">Feedback</a>
    </div>
</div>