<div class="container">
    <form action="" method="post">
        <h1 style="text-align: center;">Thêm sản phẩm</h1>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" ng-model="ten">
                </div>
                <div class="input-group mb-3" >
                    <label class="input-group-text" for="inputGroupSelect01">Thể loại</label>
                    <select class="form-select" ng-model="theloai" onchange="showHideOptions()" id="loai">
                        <option value="Đồ lưu niệm Mixi">Đồ lưu niệm Mixi</option>
                        <option value="Áo ba lỗ">Áo ba lỗ</option>
                        <option value="Áo mixi">Áo mixi</option>
                        <option value="Áo CSGO">Áo CSGO</option>
                    </select>
                </div>
                <div class="input-group mb-3" hidden id="mau">
                    <label class="input-group-text" for="inputGroupSelect01">Màu sắc</label>
                    <select class="form-select" id="inputGroupSelect01" ng-model="mausac" >
                        <option value="Trắng">Trắng</option>
                        <option value="Đen">Đen</option>
                    </select>
                </div>
                <div class="input-group mb-3" hidden id="size">
                    <label class="input-group-text" for="inputGroupSelect01">Size</label>
                    <select class="form-select" id="inputGroupSelect01" ng-model="size">
                        <option value="X">X</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Giá</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" ng-model="giaban">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Giảm giá</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" ng-model="giamgia">
                </div>
                <a class="btn btn-primary"  style="color: aliceblue;" role="button" ng-click="add()">Add</a>
                <a class="btn btn-primary"  style="color: aliceblue;" role="button" ng-click="update()">Update</a>
    </form>

    <form action="" method="get">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col">Giá</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody ng-repeat="sp in lst">
                <tr>
                    <td>{{sp.ten}} {{sp.mausac}}-{{sp.size}}</td>
                    <td>{{sp.theloai}}</td>
                    <td ng-if="!sp.giamgia">{{sp.giaban}}</td>
                    <td ng-if="sp.giamgia">{{sp.giamgia}}</td>
                    <td></td>
                    <td>
                        <a role="button" class="btn btn-primary " ng-click="detail(sp.id)">Chi tiết</a>
                        <a role="button" class="btn btn-primary " ng-click="delete(sp.id)">Xóa</a>
                        <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>